[url "git@github.com:"]
    insteadOf = https://github.com/
[user]
    name = cotton
    email = chinoknct@gmail.com
[core]
    excludesFile = ~/.gitignore_global
[alias]
    ss = status
    co = checkout
    st = stash -u
    br = branch
    lo = log --oneline
[fetch]
    prune = true
