[ghq]
    root = ~/src
[user]
    name = cotton
    email = chinoknct@gmail.com
[core]
    excludesFile = ~/.gitignore_global
[alias]
    ss = status
    co = checkout
    st = stash -u
    br = branch

